<div class="container">
  <h2>{{ appStatus | async }}</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let lesson of lessons">
          <span
            class="badge">
            {{ lesson.status }}
          </span>
          <strong>{{ lesson.name | shorten:5 }}</strong> |
          {{ lesson.lessonComplexity | uppercase }} |
          {{ lesson.started | date:'medium' }}
        </li>
      </ul>
    </div>
  </div>
</div>
